<p>First Name: <%= @order.first_name %></p>
<p>Last Name: <%= @order.last_name %></p>
<p>Quanity: <%= @order.quantity %></p>
<p>Topping: <%= @order.topping %></p>
<p><a href="/pizza-orders/<%=@order.id%>/edit">Edit</a></p>
